version: "3.9"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: simutradedb
      POSTGRES_USER: simutrade
      POSTGRES_PASSWORD: simutrade
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - ./backend/.env.example
    working_dir: /app/backend
    volumes:
      - ./backend:/app/backend
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: celery -A simutrade worker -l info
    env_file:
      - ./backend/.env.example
    working_dir: /app/backend
    depends_on:
      - backend
      - redis

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: celery -A simutrade beat -l info
    env_file:
      - ./backend/.env.example
    working_dir: /app/backend
    depends_on:
      - backend
      - redis

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    env_file:
      - ./frontend/.env.example
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app/frontend
    depends_on:
      - backend

volumes:
  postgres_data:
